/*Left Sidebar*/

.main-content nav{
    background-color: white;
    border-bottom: 1px solid rgba(73, 72, 72, 0.26);
    display: flex;
    position: relative;
}

.main-content nav .leftbar{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
    overflow: hidden;
}

.main-content nav .leftbar i{
    color: black;
    flex-shrink: 0;
}

a{
    text-decoration: none;
}

.main-content nav .leftbar a,
.main-content nav .leftbar i,
.main-content nav .leftbar span{
    padding-left: 10px;
}

.main-content nav .rightbar{
    width: 50%;
}

.main-content nav .leftbar span{
    color: black;
}

.main-content nav .leftbar button{
    background: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.main-content nav .leftbar button:hover{
    background-color: rgb(170, 173, 175);
}

.main-content nav .leftbar button i{
    padding-right: 10px;
}

/* Profile Side*/

.main-content nav .rightbar{
    display: flex;
    align-items: center;
    justify-content: end;
}

.main-content nav .rightbar i{
    color: black;
    font-size: 25px;
    width: 50px;
}

.main-content nav .rightbar .search-container{
    padding-right: 20px;
}

.main-content nav .rightbar .search-container input{
    border: none;
    background-color: #EDEDED;
    border-radius: 10px;
    width: 239px;
    height: 36px;
    text-align: center;
    outline: none;
    color: rgb(126, 124, 121);
}

.main-content nav .rightbar .setting-container i,
.main-content nav .rightbar .notification-container i,
.main-content nav .rightbar .profile-container i{
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-content nav .rightbar  .notification-container i{
    color: rgb(255, 0, 0);
}
